body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    width: 96%;
    padding: .5em;
    margin: 1em;
    border-radius: 5px;
}
.message-info {
    color: #3B3495;
    background-color: #CDDEFF;
    border: #3B3495 solid 1px;
}

.message-success {
    color: #3E8758;
    background-color: #CFF3DA;
    border: #3E8758 solid 1px;
}

.message-warning {
    color: #9F6000;
    background-color: #FCFBC9;
    border: #9F6000 solid 1px;
}

.message-error {
    color: #923147;
    background-color: #FAD3D7;
    border: #923147 solid 1px;
}

.btn {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn1 {
    color: #00529B;
}

.closebtn2 {
    color: #3E8758;
}

.closebtn3 {
    color: #9F6000;
}

.closebtn4 {
    color: #923147;
}